@page "/Details/{ProductId:int}"
@using BlazorShop.Data
@using BlazorShop.Services


@inherits OwningComponentBase<ProductServices>

<br />
<h2 class="text-info">@(ShowAppointment?"Book Appintment":"Product Details")</h2>



@if (ShowAppointment)
{
    @*<BlazorShop.Pages.Compoenents.AppointmentComponent OnClickShowDetails="OnClickShowDetails" appointment="ppointment"></BlazorShop.Pages.Compoenents.AppointmentComponent>*@
}
else
{
    <BlazorShop.Pages.Compoenents.DetailsComponent OnClickShowAppointment="OnClickShowAppointment" appointment="appointment"></BlazorShop.Pages.Compoenents.DetailsComponent>
}

@code {
    [Parameter]
    public int ProductId { get; set; }
    public Appointment appointment { get; set; }
    bool ShowAppointment=false;

    protected override void OnInitialized()
    {
        appointment = new Appointment()
        {
            AppointmentDate = DateTime.Now

        };
        appointment.product = Service.GetProduct(ProductId);
    }

    void OnClickShowAppointment()
    {
        ShowAppointment = true;
    }

    void OnClickShowDetails()
    {
        ShowAppointment = false;
    }
}
